---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---
<Layout title="Redirigimientos | vDx Web">
    <h1>Redirigimientos de <span class="text-gradient">vDx</span></h1>
    <ul class="link-card-grid">
    <Card 
    href="/redirigir/web-anto"
    title="Web Anto"
    body="Redirigimiento a la web de Anto"
    />
    </ul>
</Layout>