---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="vDx Web.">
	<main>
		<svg
			class="astro-a"
			width="495"
			height="623"
			viewBox="0 0 495 623"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
		</svg>
		<h1><p class= "animate-blurred-fade-in font-mono">Bienbenidos a <p class="font-black"><span class="text-gradient">vDx 2.0</p></p></span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="info"
				title="Info"
				body="Info sobre vDx."
			/>
			<Card
				href="entrar-a-vdx-minecraft"
				title="Ir a vDx Minecraft"
				body="Aqui podras ir a vDx Minecraft."
			/>
			<Card
				href="ip-de-vdx-minecraft"
				title="Ip"
				body="La ip de minecraft de vDx."
			/>
			<Card
				href="version"
				title="Version"
				body="Version Actual"
				/>
			</ul>
			<main class="h-5"></main>
			<Card
				href="redirigir/web-anto"
				title="Ir a Anto Web"
				body="Ir a la web de Antolin"
				/>
		</main>
	</Layout>

