---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---


<Layout title="vDx Web.">
	<main>
		<svg
			class="astro-a"
			width="495"
			height="623"
			viewBox="0 0 495 623"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
		</svg>
		<h1><p class= "animate-blurred-fade-in font-mono">Bienbenidos a <p class="font-black"><span class="text-gradient">vDx 2.0</p></p></span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="info"
				title="Info"
				body="Info sobre vDx."
			/>
			<Card
				href="version"
				title="Version"
				body="Version Actual"
				/>
				<Card
					href="redirigir/"
					title="Redirigimientos"
					body="Ir a los redirigimientos de vDx."
					/>
					<Card
						href="https://github.com/vdxgithub/tailwind-prueba"
						title="Github"
						body="El repo de git de la web de vDx"
						/>
				</ul>
				<main class="h-5"></main>
		</main>
	</Layout>

