---
import Layout from "../layouts/Layout.astro";
---
<<<<<<< HEAD
<Layout title="Repair the web">
	<main>Hola lo siento por que se haya roto la web</main>
	<main>Os voy a esplicar el problema</main>
	<main>Basicamente un "midudev" accedio al git de la web y nos hackeo</main>
	<main>Y esta es la foto</main>
	<img src="https://avatars.githubusercontent.com/u/1561955?v=4" alt="Foto del gilipoyas" />
	<main>Y asique le vamos a demandar</main>
	<main>(na es mentira)</main>
	<main><span class="text-gradient">Adios</span></main>
</Layout>
=======

<Layout title="vDx Web.">
	<main>
		<svg
			class="astro-a"
			width="495"
			height="623"
			viewBox="0 0 495 623"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
		</svg>
		<h1><p class= "animate-blurred-fade-in font-mono">Bienbenidos a <p class="font-black"><span class="text-gradient">vDx 2.0</p></p></span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="info"
				title="Info"
				body="Info sobre vDx."
			/>
			<Card
				href="entrar-a-vdx-minecraft"
				title="Ir a vDx Minecraft"
				body="Aqui podras ir a vDx Minecraft."
			/>
			<Card
				href="ip-de-vdx-minecraft"
				title="Ip"
				body="La ip de minecraft de vDx."
			/>
			<Card
				href="version"
				title="Version"
				body="Version Actual"
				/>
				<Card
					href="redirigir/"
					title="Redirigimientos"
					body="Ir a los redirigimientos de vDx."
					/>
				<Card
					href="https://github.com/vdxgithub/tailwind-prueba"
					title="Github"
					body="El repo de git de la web de vDx"
					/>
			</ul>
			<main class="h-5"></main>
		</main>
	</Layout>

>>>>>>> parent of e797ed3 (Hacking)
