---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Version">
    <h1>La version de <span class="text-gradient">vDx</span>es</h1>
    <p class="h-5"></p>
    <h1 class="text-gradient">3.5</h1>
</Layout>